body {
  background: #6CA6C1;
}

.app {
  display: flex;
}

aside.primary-aside {
  width: 200px;
}

aside.primary-aside a.active {
font-weight: bold;
}

main {
  flex: 1;
}

h1, h2, h5{
  color: #2F3061;
}

h2{
text-align: center;
color: #F7FFF7;
}

h1{
  margin-left: 30px;
  width: 370px;
  height: 50px;
  float: left;
}

h5{
text-align: center;
color: #F7FFF7;
}

.footer{
  width: 990px;
  height: 100px;
  border: 4px outset #2F3061;
  background: #F7FFF7;
  margin: auto;
}

.boxForInput {
  width: 986px;
  margin: auto;
  border: 4px outset #2F3061;
}

input {
  width: 99.5%;
}

.mainBox{
  width: 990px;
  height: auto;
  /*border: 2px solid black;*/
  margin: auto;
}

.card{
  width: 280px;
  height: 605px;
  /*border: 2px solid black;*/
  margin: auto;
  margin: 15px;
  float: left;
  padding: 5px;
  background: #F7FFF7;
  border: 4px outset #2F3061;
}

.img1{
  margin-left: 45px;
  margin-top: 10px;
  border: 4px outset #2F3061;
}

p {
  color: #343434;
  text-align: justify;
}

h3 {
  color: #2F3061;
  font: verdana;
  text-align: center;
  height: 25px;
  width: 280px;
  position: relative;
}

.cardForText {
  width: 260px;
  height: 232px;
  margin: auto;
  margin-top: 5px;
  overflow: hidden;
}

.cardForTextSmall1 {
  width: 165px;
  height: auto;
  float: left;
}

.cardForTextSmall2 {
  width: 90px;
  height: auto;
  float: right;
}

span.red {
  color: red;
}

.left {
  text-align: right;
}

.buttonNew {
  width: 298px;
  height: 622px;
  /*border: 2px solid black;*/
  margin: auto;
  margin: 15px;
  float: left;
  padding: 5px;
  background: #F7FFF7;
  border: 4px outset #2F3061;
  font-size: 30px;
  color: #2F3061;
}
